body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f9f9;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 1300px;
    padding: 30px 0px;
}

.top-div {
    display: flex;
    justify-content: space-between;
}

.top-div :nth-child(1) {
    text-align: left;

}

.top-div .analogoutput-div :nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.top-div .analogoutput-div :nth-child(2) p {
    font-size: 15px;
    font-weight: lighter;
}

.top-div .analogoutput-div :nth-child(3) p {
    font-size: 15px;
    font-weight: lighter;
}

.top-div :nth-child(2) {
    text-align: right;
}

.top-div .gpio-div h5 {
    /* margin-top: 15px; */
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.top-div .gpio-div :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-div .gpio-div :nth-child(2) p {
    margin-top: 20px;
}

.top-div .gpio-div :nth-child(3) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-div .gpio-div :nth-child(3) p {
    margin-top: 20px;
}

.top-div .gpio-div :nth-child(4) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-div .gpio-div :nth-child(4) p {
    margin-top: 20px;
}

.top-div .gpio-div :nth-child(5) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-div .gpio-div :nth-child(5) p {
    margin-top: 20px;
}



.top-div .analoginput-div :nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.top-div .analoginput-div :nth-child(2) p {
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;

}

.top-div .analoginput-div :nth-child(3) p {
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;

}

.top-div .digitalinput-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-div .digitalinput-div :nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

.top-div .digitalinput-div :nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(2) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(3) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(3) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(4) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(4) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(5) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(5) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(6) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(6) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(7) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(7) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(8) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(8) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.top-div .digitalinput-div :nth-child(9) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;

}

.top-div .digitalinput-div :nth-child(9) p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter;
}

.middle {
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middle img {
    width: 100%
}

.bottom-div {
    display: flex;
    justify-content: space-between;

}

.bottom-div :nth-child(1) {
    text-align: left;
}

.bottom-div :nth-child(1) .DigitalOutput-div {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    margin-bottom: 0px;
}

.bottom-div :nth-child(1) .DigitalOutput-div h5 {
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) p {
    margin-top: 20px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) p {
    margin-top: 20px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) p {
    margin-top: 20px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;
}

.bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) p {
    margin-top: 20px;
}

/* bottom right side   */
.bottom-div :nth-child(2) {
    text-align: right;
}

.bottom-div .Relay h5 {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.bottom-div .Relay :nth-child(2) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    gap: 5px;
}

.bottom-div .Relay :nth-child(2) p {
    margin-top: 20px;
}

.bottom-div .Relay :nth-child(3) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;

    gap: 5px;

}

.bottom-div .Relay :nth-child(3) p {
    margin-top: 20px;
}

.bottom-div .Relay :nth-child(4) {
    display: flex;
    align-items: center;
    margin-bottom: 0px;

    gap: 5px;

}

.bottom-div .Relay :nth-child(4) p {
    margin-top: 20px;
}

.bottom-div .Relay :nth-child(5) {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0px;


}

.bottom-div .Relay :nth-child(5) p {
    margin-top: 20px;
}

/* stepper */
.voltage-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.voltage-div .voltage-btn {
    height: 40px;
    background-color: green;
    color: #fff;
    border: 0px;
    padding: 5px 20px;
}

/* ======toggle buttton start====== */
.toggle-button-cover {
    display: table-cell;
    position: relative;
    box-sizing: border-box;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5cm;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 55px;
    height: 25px;
    overflow: hidden;
    margin-top: 10px;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.602);
    transition: 0.3s ease all;
    z-index: 1;
}


/* Button 3 */
.button-3 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 0.2;
    padding: 11px 0px;
    margin: 1px;
    background-color: red;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.button-3 .checkbox:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

.button-3 .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

.button-3 .checkbox:checked+.knobs:before {
    content: "ON";
    left: 31px;
    background-color: GREEN;
}

.button-3 .checkbox:checked~.layer {
    background-color: rgba(6, 173, 6, 0.602);
}

.led-light {
    display: inline-block;
    width: 25px;
    height: 25px;
    /* background-color: yellow; */

}

/* ======toggle buttton end====== */


/* Custom CSS for the number control */
.number-control0,
.number-control1 {
    display: flex;
    align-items: center;
    gap: 0px;
    /* margin-bottom: 10px; */

}

.decrement0,
.decrement1,
.increment0,
.increment1 {
    font-size: 40px;
    padding: 20px 10px;
    font-weight: bold;
    width: 2rem;
    height: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 0px;
    background-color: green;
    border-radius: 2px;
    padding-top: -20px;
    /* line-height: 30px; */
}

.number-control0 input,
.number-control1 input {
    width: 50px;
    height: 40px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    border: 2px solid #bbc5c5;
}

.number-control button {
    cursor: pointer;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.469);
}

/* gpio wire start */
.gpio0-wire {
    border-top: 2px solid black;
    border-right: 2px solid black;
    width: 353px;
    height: 345px;
    position: absolute;
    top: 60px;
    left: 170px;
    z-index: 1;
}

.gpio1-wire {
    width: 374px;
    height: 285px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    top: 120px;
    left: 173px;
    z-index: 2;
}

.gpio2-wire {
    width: 395px;
    height: 225px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    top: 180px;
    left: 173px;
}

.gpio3-wire {
    width: 418px;
    height: 165px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    top: 240px;
    left: 173px;
}

.analogoutput0-wire {
    width: 335px;
    height: 476px;
    border-top: 2px solid green;
    border-right: 2px solid green;
    position: absolute;
    top: 60px;
    left: 350px;
}

.analogoutput1-wire {
    width: 358px;
    height: 437px;
    border-top: 2px solid green;
    border-right: 2px solid green;
    position: absolute;
    top: 100px;
    left: 350px;
}

.analoginput0-wire {
    width: 295px;
    height: 489px;
    border-top: 2px solid green;
    border-left: 2px solid green;
    position: absolute;
    top: 50px;
    right: 200px;
}

.analoginput1-wire {
    width: 273px;
    height: 450px;
    border-top: 2px solid green;
    border-left: 2px solid green;
    position: absolute;
    top: 90px;
    right: 200px;
}

.di0-wire {
    width: 223px;
    height: 365px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 55px;
    right: 200px;
}

.di1-wire {
    width: 201px;
    height: 325px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 95px;
    right: 200px;
}

.di2-wire {
    width: 178px;
    height: 285px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 135px;
    right: 200px;
}

.di3-wire {
    width: 157px;
    height: 245px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 175px;
    right: 200px;
}

.di4-wire {
    width: 120px;
    height: 205px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 215px;
    right: 200px;
}

.di5-wire {
    width: 97px;
    height: 165px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 255px;
    right: 200px;
}

.di6-wire {
    width: 75px;
    height: 125px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 296px;
    right: 200px;
}

.di7-wire {
    width: 55px;
    height: 85px;
    border-top: 2px solid red;
    border-left: 2px solid red;
    position: absolute;
    top: 334px;
    right: 200px;
}

.digitaloutput0-wire {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 498px;
    height: 180px;
    position: absolute;
    top: -120px;
    left: 150px;
    z-index: 1;
}

.digitaloutput1-wire {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 520px;
    height: 240px;
    position: absolute;
    top: -120px;
    left: 150px;
    z-index: 1;
}

.digitaloutput2-wire {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 544px;
    height: 300px;
    position: absolute;
    top: -120px;
    left: 150px;
    z-index: 1;
}

.digitaloutput3-wire {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 565px;
    height: 360px;
    position: absolute;
    top: -120px;
    left: 150px;
    z-index: 1;
}

.relay0-wire {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    width: 306px;
    height: 180px;
    position: absolute;
    top: -120px;
    right: 150px;
    z-index: 1;
}

.relay1-wire {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    width: 240px;
    height: 240px;
    position: absolute;
    top: -120px;
    right: 150px;
    z-index: 1;
}

.relay2-wire {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    width: 160px;
    height: 305px;
    position: absolute;
    top: -120px;
    right: 150px;
    z-index: 1;
}

.relay3-wire {
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    width: 95px;
    height: 365px;
    position: absolute;
    top: -120px;
    right: 150px;
    z-index: 1;
}

/* mobile responsive */
@media screen and (min-width:320px) and (max-width: 767px) {


    .main-container {
        padding: 10px;
    }

    .top-div {
        padding: 0px;
    }

    .top-div .analogoutput-div :nth-child(1) {
        font-size: 15px;

    }

    .top-div .analogoutput-div :nth-child(2) p {
        font-size: 10px;
        font-weight: bold;
    }

    .top-div .analogoutput-div :nth-child(3) p {
        font-size: 10px;
        font-weight: bold;
    }

    .voltage-div {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 5px;
    }

    .voltage-div .voltage-btn {
        width: 50px;
        height: 30px;
        background-color: green;
        text-align: center;
        color: #fff;
        border: 0px;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 8px;
    }

    .decrement0,
    .decrement1,
    .increment0,
    .increment1 {
        font-size: 10px;
        padding: 20px 10px;
        font-weight: bold;
        width: 20px;
        height: 5px;
    }

    .number-control0 input,
    .number-control1 input {
        width: 20px;
        height: 40px;
        border: 0px;
        font-size: 20px;
        font-weight: bold;
        pointer-events: none;
        border: 2px solid #bbc5c5;
    }

    .top-div .gpio-div h5 {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .top-div .gpio-div :nth-child(2) {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0px;
    }

    .top-div .gpio-div :nth-child(2) p {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(3) {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(3) p {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(4) {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(4) p {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(5) {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(5) p {
        margin-top: 15px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;


    }

    .top-div .analoginput-div :nth-child(1) {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .top-div .analoginput-div :nth-child(2) p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .analoginput-div :nth-child(3) p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .digitalinput-div {
        gap: 2px;
    }

    .top-div .digitalinput-div :nth-child(1) {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .top-div .digitalinput-div :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(5) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(6) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(6) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(7) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(7) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(8) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(8) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(9) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .top-div .digitalinput-div :nth-child(9) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;

    }

    .middle {
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div h5 {
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay h5 {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .bottom-div .Relay :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;
    }

    .bottom-div .Relay :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .bottom-div .Relay :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 2px;

    }

    .bottom-div .Relay :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;


    }

    .bottom-div .Relay :nth-child(5) {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 0px;


    }

    .bottom-div .Relay :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .gpio0-wire {
        display: none;
    }

    .gpio1-wire {
        display: none;
    }

    .gpio2-wire {
        display: none;
    }

    .gpio3-wire {
        display: none;
    }

    .analogoutput0-wire {
        display: none;
    }

    .analogoutput1-wire {
        display: none;
    }

    .analoginput0-wire {
        display: none;
    }

    .analoginput1-wire {
        display: none;
    }

    .di0-wire {
        display: none;
    }

    .di1-wire {
        display: none;
    }

    .di2-wire {
        display: none;
    }

    .di3-wire {
        display: none;
    }

    .di4-wire {
        display: none;
    }

    .di5-wire {
        display: none;
    }

    .di6-wire {
        display: none;
    }

    .di7-wire {
        display: none;
    }

    .digitaloutput0-wire {
        display: none;
    }

    .digitaloutput1-wire {
        display: none;
    }

    .digitaloutput2-wire {
        display: none;
    }

    .digitaloutput3-wire {
        display: none;
    }

    .relay0-wire {
        display: none;
    }

    .relay1-wire {
        display: none;
    }

    .relay2-wire {
        display: none;
    }

    .relay3-wire {
        display: none;
    }
}


/* tablets responsive  */
@media screen and (min-width:768px) and (max-width:991px) {

    .main-container {
        padding: 20px;
    }

    .top-div {
        padding: 0px;
    }

    .top-div .analogoutput-div :nth-child(1) {
        font-size: 20px;

    }

    .top-div .analogoutput-div :nth-child(2) p {
        font-size: 13px;
        font-weight: bold;
    }

    .top-div .analogoutput-div :nth-child(3) p {
        font-size: 13px;
        font-weight: bold;
    }

    .voltage-div {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 5px;
    }

    .voltage-div .voltage-btn {
        width: 90px;
        height: 40px;
        background-color: green;
        color: #fff;
        border: 0px;
        border-radius: 5px;

        font-size: 10px;
        font-weight: bold;
    }

    .decrement0,
    .decrement1,
    .increment0,
    .increment1 {
        font-size: 15px;
        padding: 20px 10px;
        font-weight: bold;
        width: 30px;
        height: 10px;
    }

    .number-control0 input,
    .number-control1 input {
        width: 20px;
        height: 40px;
        border: 0px;
        font-size: 20px;
        font-weight: bold;
        pointer-events: none;
        border: 2px solid #bbc5c5;
    }

    .top-div .gpio-div h5 {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .top-div .gpio-div :nth-child(2) {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;
    }

    .top-div .gpio-div :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(3) {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(4) {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(5) {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;

    }

    .top-div .gpio-div :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;


    }

    .top-div .analoginput-div :nth-child(1) {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .top-div .analoginput-div :nth-child(2) p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .analoginput-div :nth-child(3) p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .top-div .digitalinput-div {
        gap: 3px;
    }

    .top-div .digitalinput-div :nth-child(1) {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .top-div .digitalinput-div :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(5) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(6) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(6) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(7) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(7) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(8) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(8) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .top-div .digitalinput-div :nth-child(9) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .top-div .digitalinput-div :nth-child(9) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;

    }

    .middle {
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div h5 {
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;
    }

    .bottom-div :nth-child(1) .DigitalOutput-div :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay h5 {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .bottom-div .Relay :nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;
    }

    .bottom-div .Relay :nth-child(2) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay :nth-child(3) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .bottom-div .Relay :nth-child(3) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .bottom-div .Relay :nth-child(4) {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        gap: 3px;

    }

    .bottom-div .Relay :nth-child(4) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;


    }

    .bottom-div .Relay :nth-child(5) {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 0px;


    }

    .bottom-div .Relay :nth-child(5) p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0px;

    }

    .gpio0-wire {

        width: 150px;
        height: 285px;
        top: 40px;
        left: 150px;
    }

    .gpio1-wire {
        width: 138px;
        height: 250px;
        top: 75px;
        left: 150px;
    }

    .gpio2-wire {
        width: 126px;
        height: 214px;
        top: 110px;
        left: 150px;
    }

    .gpio3-wire {
        width: 115px;
        height: 175px;
        top: 150px;
        left: 150px;
    }

    .analogoutput0-wire {
        width: 98px;
        height: 392px;
        top: 55px;
        left: 250px;
    }

    .analogoutput1-wire {
        width: 110px;
        height: 348px;
        border-top: 2px solid green;
        border-right: 2px solid green;
        position: absolute;
        top: 100px;
        left: 250px;
    }

    .analoginput0-wire {
        width: 120px;
        height: 410px;
        top: 40px;
        right: 170px;
    }

    .analoginput1-wire {
        width: 110px;
        height: 375px;
        top: 75px;
        right: 170px;
    }

    .di0-wire {
        width: 85px;
        height: 320px;
        top: 35px;
        right: 170px;
    }

    .di1-wire {
        width: 75px;
        height: 280px;
        top: 75px;
        right: 170px;
    }

    .di2-wire {
        width: 60px;
        height: 245px;
        top: 110px;
        right: 170px;
    }

    .di3-wire {
        width: 50px;
        height: 205px;
        border-top: 2px solid red;
        border-left: 2px solid red;
        position: absolute;
        top: 150px;
        right: 170px;
    }

    .di4-wire {
        width: 30px;
        height: 165px;
        border-top: 2px solid red;
        border-left: 2px solid red;
        position: absolute;
        top: 190px;
        right: 170px;
    }

    .di5-wire {
        width: 20px;
        height: 125px;
        top: 230px;
        right: 170px;
    }

    .di6-wire {
        width: 15px;
        height: 90px;
        top: 266px;
        right: 165px;
    }

    .di7-wire {
        width: 1px;
        height: 50px;
        top: 305px;
        right: 166px;
    }

    .digitaloutput0-wire {
        width: 178px;
        height: 105px;
        top: -55px;
        left: 150px;
        z-index: 1;
    }

    .digitaloutput1-wire {
        width: 190px;
        height: 140px;
        top: -55px;
        left: 150px;
        z-index: 1;
    }

    .digitaloutput2-wire {
        width: 200px;
        height: 170px;
        top: -55px;
        left: 150px;
        z-index: 1;
    }

    .digitaloutput3-wire {
        width: 214px;
        height: 210px;
        top: -55px;
        left: 150px;
        z-index: 1;
    }

    .relay0-wire {
        border-bottom: 2px solid red;
        border-left: 2px solid red;
        width: 120px;
        height: 110px;
        position: absolute;
        top: -59px;
        right: 150px;
        z-index: 1;
    }

    .relay1-wire {
        width: 87px;
        height: 140px;
        top: -59px;
        right: 150px;
        z-index: 1;
    }

    .relay2-wire {
        width: 48px;
        height: 170px;
        top: -59px;
        right: 150px;
        z-index: 1;
    }

    .relay3-wire {
        width: 13px;
        height: 210px;
        top: -59px;
        right: 150px;
        z-index: 1;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    .gpio0-wire {

        width: 213px;
        height: 340px;
        top: 60px;
        left: 150px;
    }

    .gpio1-wire {
        width: 230px;
        height: 280px;
        top: 120px;
        left: 150px;

    }

    .gpio2-wire {
        width: 245px;
        height: 220px;
        top: 180px;
        left: 150px;
    }
    
    .gpio3-wire {
        width: 260px;
        height: 160px;
        top: 240px;
        left: 150px;

    }

    .analogoutput0-wire {
        width: 125px;
        height: 470px;
        top: 55px;
        left: 350px;

    }

    .analogoutput1-wire {
        width: 143px;
        height: 430px;
        top: 100px;
        left: 350px;

    }

    .analoginput0-wire {
        width: 180px;
        height: 475px;
        top: 50px;
        right: 200px;

    }

    .analoginput1-wire {
        width: 165px;
        height: 435px;
        top: 95px;
        right: 200px;

    }

    .di0-wire {
        width: 130px;
        height: 350px;
        top: 55px;
        right: 200px;

    }

    .di1-wire {
        width: 115px;
        height: 310px;
        top: 95px;
        right: 200px;

    }

    .di2-wire {
        width: 100px;
        height: 265px;
        top: 140px;
        right: 200px;

    }

    .di3-wire {
        width: 85px;
        height: 225px;
        top: 180px;
        right: 200px;

    }

    .di4-wire {
        width: 60px;
        height: 185px;
        top: 220px;
        right: 200px;

    }

    .di5-wire {
        width: 45px;
        height: 145px;
        top: 260px;
        right: 200px;

    }

    .di6-wire {
        width: 30px;
        height: 110px;
        top: 296px;
        right: 200px;

    }

    .di7-wire {
        width: 5px;
        height: 65px;
        top: 340px;
        right: 210px;

    }

    .digitaloutput0-wire {
        width: 298px;
        height: 160px;
        top: -95px;
        left: 150px;
        z-index: 1;

    }

    .digitaloutput1-wire {
        width: 315px;
        height: 220px;
        top: -95px;
        left: 150px;
        z-index: 1;

    }

    .digitaloutput2-wire {
        width: 330px;
        height: 280px;
        top: -95px;
        left: 150px;
        z-index: 1;

    }

    .digitaloutput3-wire {
        width: 350px;
        height: 330px;
        top: -95px;
        left: 150px;
        z-index: 1;

    }

    .relay0-wire {
        width: 202px;
        height: 160px;
        top: -95px;
        right: 150px;
        z-index: 1;

    }

    .relay1-wire {
        width: 157px;
        height: 220px;
        top: -95px;
        right: 150px;
        z-index: 1;
    
    }

    .relay2-wire {
        width: 104px;
        height: 275px;
        top: -95px;
        right: 150px;
        z-index: 1;

    }

    .relay3-wire {
        width: 60px;
        height: 340px;
        top: -95px;
        right: 150px;
        z-index: 1;

    }
}